*,div,pre,textarea,body,input,td,tr,p{
	background-color: #0A0F14 !important;
	background-image: none !important;
	color: #39a0a5 !important;
}
h1, h2, h3, h4 {
	background-color: #0A0F14 !important;
	color: #39a0a5 !important;
}
img {
	opacity: .5;
}
img:hover {
	opacity: 1;
}
